/*
!/.backup.stignore
!/.bashrc
!/.bashrc.d
/.bashrc.d/do
/.bashrc.d/openapi
!/.config
/.config/*
!/.config/xfce4
!/.gitconfig
!/.gitignore
!/.home
!/.vimrc
!/.stignore
!/.xsessionrc 
!/.Xresources
!/.local
/.local/*
!/.local/bin
!/src
/src/*
!/src/.stignore

/.config/xfce4/desktop/
/.config/xfce4/Verve/
/.config/xfce4/xfce4-notes.gtkrc.BROOIZ
/.local/bin/bazel
/.local/bin/blincus
/.local/bin/civo
/.local/bin/clion
/.local/bin/clion1
/.local/bin/clusterawsadm
/.local/bin/clusterctl
/.local/bin/crictl
/.local/bin/cue
/.local/bin/dapr
/.local/bin/dev-shell-s.sh
/.local/bin/docker-compose
/.local/bin/doctl
/.local/bin/dolly
/.local/bin/eksctl
/.local/bin/finalizers
/.local/bin/fleet
/.local/bin/gateway
/.local/bin/gencommitmsg.sh
/.local/bin/gh
/.local/bin/goland
/.local/bin/helm
/.local/bin/helm_v3
/.local/bin/hub
/.local/bin/idea
/.local/bin/img
/.local/bin/inst
/.local/bin/jetbrains-toolbox
/.local/bin/k3d
/.local/bin/k3s
/.local/bin/k3s-killall.sh
/.local/bin/k9s
/.local/bin/kubectl
/.local/bin/kubectx
/.local/bin/kubens
/.local/bin/kubie
/.local/bin/kustomize
/.local/bin/luet
/.local/bin/manifest-tool
/.local/bin/minikube
/.local/bin/mps
/.local/bin/ngrok
/.local/bin/packer
/.local/bin/protoc
/.local/bin/pycharm
/.local/bin/rancher-helm
/.local/bin/rancher-machine
/.local/bin/rancher-tiller
/.local/bin/rubymine
/.local/bin/rustrover
/.local/bin/skaffold
/.local/bin/stern
/.local/bin/Telegram
/.local/bin/trivy
/.local/bin/Updater
/.local/bin/webstorm
/.local/bin/wego
/.local/bin/wtfk8s
/.local/bin/yq
