[user]
	name = Darren Shepherd
	email = darren@acorn.io
[diff]
	tool = meld
[color]
	ui = auto
[alias]
    commit = commit -s
    hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[gc]
	auto = 50000
