[Notes]
PosX=810
PosY=350
Width=300
Height=380
TabsOrder=Notes 4;Notes 18;Notes 14;Notes 28;Notes 9;Notes 11;Notes 7;Notes 10;Notes 29;Notes 20;Notes;Notes 19;Notes 27;Notes 24;Notes 12;Notes 31;Notes 25;Notes 21;Notes 37;Notes 34;todo;Notes 35;Notes 33;Notes 23;Notes 36;Notes 8;Notes 16;Notes 17;Notes 3;Notes 30;Notes 26;Notes 2;Notes 15;Notes 32;Notes 22;Notes 5;Notes 13;Notes 6;Notes 38;
LastTab=38
Above=false
Sticky=true
Transparency=9
Visible=false
