UpdateInterval=1
TimeScale=0
Size=42
Frame=0
Border=0
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=0
Foreground1=rgb(255,255,255)
Background=rgb(45,45,45)
PerCore=0

