Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=false
Color_In=rgb(255,79,0)
Color_Out=rgb(138,226,52)
Text=wifi
Network_Device=wlp3s0
Max_In=10485760
Max_Out=1048576
Auto_Max=true
Update_Interval=750
Values_As_Bits=false

